h1{
    text-align-last: center;
    font-size: 45px;
}
body{
    font-family: Arial, Helvetica, sans-serif; /*muda a fonte*/
    text-align-last: left; /*formata o texto para a esquerda*/
    background-image: linear-gradient(75deg, #263f3f, FireBrick); /*Fundo degradê com duas cores.*/
}
div{
    background-color: rgba(0, 0, 0, 0.452); /*Cria um fundo para tudo que estiver entre os "Div"*/
    position: absolute; /*posição no meio da tela*/
    top: 50%; /* posição lado direito*/
    left: 50%; /*posição lado esquerdo*/
    transform: translate(-50%, -50%); /*coloca todos os "Div" centralizado*/
    padding: 40px; /*formata o tamanho do fundo para 60 pixels*/
    border-radius: 15px; /*Aredonda os cantos de todos os "input"*/
    color: rgb(226, 226, 226); /*Cor branca de tudo que estiver entre "Div"*/
}
input{
    padding: 13px; /*formata o tamanho do fundo dos "input"*/
    border: none;
    font-size: 15px;
    border-radius: 4px;   
}
button{
    font-size: 15px;
    background-color: rgba(153, 3, 3, 0.911);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 12px;
    width: 100%;
    text-align-last: center;
}