body{
    padding: 20px;
    padding-bottom: 500px;
}
p{
    color: green;
    font-size: 30px;
}

/* Classes e Ids */
.meu-parágrafo {         /* Seleciona a classe "meu-pa´ragrafo" com um ponto "." */
    background-color: black;
    color: brown;
}
#título-principal{      /* Seleciona a classe "título-principal" com uma hastag "#"  */
    background-color: yellow;   /* Cria um fundo amarelo para a palavra ou texto */
    color: black;
    padding: 10px;
    font-family: Helvetica;
}

/* Elementos da página, listas */
*{
    font-family: Arial;
}
p,
h1{
    border-bottom: 1px solid black;
}

/* Cores */
.nome-da-cor{
    color: pink;
}
.hexa{
    color: #99a8e9;
}
.rgb{
   color: rgb(145, 138, 62); 
}

/* Fontes */
.serifada{
    font-family: Georgia;
}
.sem-serifada{
    font-family: Helvetica;
}
.mono-espacada{
    font-family: 'Courier New';
}

/* Size e Weight */
.tamanho-fonte-grande{
    font-size: 64px;
}
.tamanho-fonte-pequena{
    font-size: 12px;
}
.peso-fonte{
    font-weight: 700;
}
.texto-italico{
    font-style: italic;
}

/* Box Model */
.box-model{   /* altera as bordas, margens e padding do texto */
    width: 200px;
    height: 100px;
    border: 1px solid blue;
    margin: 20px;
}

/* Propriedades de texto */
.alinhamento{
    text-align: center;
}
.transform-minuscula{
    text-transform: lowercase;  /* Todo o texto em MAIÚSCULO */
}
.transform-maiuscula{    /* Todo o texto em menúsculo */
    text-transform: uppercase;
}

/* Espaçamento de linhas e texto */
.espacamento-texto{
    width: 150px;
    line-height: 40px;
    letter-spacing: 8px;
}

/* links */
.decoration{
    text-decoration: none;  /* tira o anderling " _ " */
}
.visitado:visited{
    color: orangered;  /* muda a cor do link após ser clicado */
}
.estilo-hover:hover{
    background-color: #1292ae;  /* mostra uma sombra sempre que o mouse passa por cima do link */
}

/* link em button */
.btn{
    background-color: #43a9fd;
    border: 3px solid #234966;
    border-radius: 5px;  /* Aredonda as pontas do button */
    color: #FFF;  /* Cor do texto do button para branco */
    text-decoration: none;
    display: block;
    width: 120px;
    padding: 12px;
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;  /* A cor do button vai levar meio segundo (0.5s) parra mudar */
}
.btn:hover{
    background-color: #3d6b8f;  /* Muda a cor do button quando o mouse passa por ele*/
}